<component name="ArtifactManager">
  <artifact type="javafx" build-on-make="true" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <properties id="javafx-properties">
      <options>
        <option name="appClass" value="fx.test.TestMain" />
        <option name="description" value="" />
        <option name="enabledSigning" value="true" />
        <option name="htmlParamFile" value="" />
        <option name="paramFile" value="" />
        <option name="title" value="Fx" />
        <option name="vendor" value="" />
      </options>
    </properties>
    <root id="root">
      <element id="archive" name="Server.jar">
        <element id="module-output" name="Server" />
      </element>
    </root>
  </artifact>
</component>